@import "tailwindcss";
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}
@theme {
  --color-pupel-purple: #6A4C93;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

@layer base {
  :root {
    --primary: #6A4C93;  /* Primary color */
    --secondary: #1E2A47; /* Secondary color */
    --accent: #F9A826;    /* Accent color */
  }

  /* Optional: Dark Mode Colors */
  .dark {
    --primary: #F9A826;  /* Change primary color for dark mode */
    --secondary: #4E00FF; /* Dark mode secondary */
  }
}
.glass-button {
  @apply rounded-xl backdrop-blur-none  
         text-black dark:text-white transition
         hover:shadow-lg hover:scale-105 cursor-pointer outline-none;


}

.shadow-inner-glass {
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.4),
              inset 0 -4px 6px #693fff36;
}


.font-poppins {
  font-family: var(--font-poppins);
}
.font-orbitron {
  font-family: var(--font-orbitron);
}

body {
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
